* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: none;
}

html,
body {
    background-color: transparent;
    color: white;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    font-size: 14px;
    text-rendering: optimizeLegibility;
    line-height: 1.5;
    /* letter-spacing: 1px; */
    height: 100%;
    width: 100%;
    position: relative;
    overflow-x: hidden !important;
    overflow-y: hidden;
}

.index {
    background-color: blue;
}

.test {
    background-color: red;
}